__pycache__/
*.pyc
.venv/
.pytest_cache/
logs/*.png
logs/*.jpg
logs/audio/
logs/textures/
*.zip
.env
saves/
dist/
build/
*.spec
steam/steam_install.json

src/saves/
packaging/__pycache__/
_tmp_create_sc.ps1
*.egg-info/
